/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    cursor: pointer;
}

h1 {
    font-size: 100%;
}

img {
    width: 100%;
}

li {
    text-decoration: none;
    list-style: none;
    margin-right: 50px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.header {
    background-color: rgb(248, 225, 219);
    padding: 20px 135px;
}


.header__Logo {
    display: block;
    width: 100px;
}

.nav {
    display: flex;
}

.product {
    background-color: rgb(250, 244, 242);
}

.banner {
    background-image: url(../images/BG.png);
    background-size: cover;
    height: 600px;
    background-repeat: none;
}

.product__Banner {
    padding: 50px 0 30px 0;
    display: grid;
    justify-content: center;
}

.product__Banner img {
    margin: auto;
    width: 30%;
}

.product__Img{
    position: relative;
}

.product__Img i{
    opacity: 80%;
    color:orange;
    padding: 10px 10px;
    border: 1px;
    border-radius: 30%;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.product__Items {
    justify-content: center;
    display: flex;
    padding: 20px 20px;
    gap: 30px;
}

.product__Item {
    background-color: white;
    padding: 50px 50px;
    border: 1px;
    border-radius: 5%;
    line-height: 1.5;
}


.product__Item img {
    border: 1px;
    border-radius: 5%;
}

.product__Item button {
    background-color: rgb(232, 232, 232);
    border-radius: 50px;
    border: 1px;
    text-align: center;
    padding: 30px 50px;
    color: #8D8D8D;
}

.product__ViewBtn {
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}

.product__Btn {
    padding: 15px 100px;
    border-radius: 50px;
    color: #E76F51;
    border: 1px solid #E76F51;
    background-color: transparent;
}

/* contact ------------------------------- */
.contact__Content:first-child {
    grid-column: 1/2;
    margin-right: 330px;
}

.contact__Content:nth-child(2) {
    grid-column: 2/3;
}

.contact {
    background-color: #F8E1DB;
    line-height: 2;
    padding: 100px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contact__Items {
    /* background-color: red; */
    display: flex;
    margin-top: 30px;
}

.contact__Item:last-child {
    margin-left: 130px;
}

.contact__Btn {
    display: flex;
    gap: 10px;
}

.footer {
    border-top-right-radius:100px;
    border-top-left-radius:100px;
    margin-top: 100px;
    padding: 100px 100px;
    background-color: #F8E1DB;
    overflow: auto;
}

.footer__Item{
    width: calc(100%/4);
    margin: auto;
    float: left;
}

.footer__Content{

    overflow: auto;
}

.footer__Content:nth-child(2){
    padding: 30px 30px;
    text-align: center;
}